@inherits LayoutComponentBase

<PageTitle>parking-reservation-app</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <header class="top-row px-4">
            <a href="/reserve">Foglalás</a>
            <a href="/stats">Stats</a>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>

    header.top-row {
        background-color: #4DB6AC;
        color: white;
        padding: 10px;
    }

    header.top-row a {
        color: white;
        text-decoration: none;
        margin-right: 20px;
    }

    header.top-row a:hover {
        color: black;
    }

    body {
        background-color: #B2DFDB
    }
</style>