﻿
@using DataAccess.Data;

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #009688;">
    <div class="container">

        <a class="navbar-brand" href="/reserve">Parkoló App</a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/reserve">Foglalás</a>
                </li>
                <AuthorizeView Roles=@Role.ADMIN.ToString()>
                    <li class="nav-item">
                        <a class="nav-link" href="/Users">Felhasználók Kezelése</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/parking-places">Parkolók Kezelése</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stats">Statisztikák</a>
                    </li>
                </AuthorizeView>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profil</a>
                </li>
            </ul>

            <form class ="d-flex mb-0" method="post" action="Identity/Account/LogOut">
                <button type="submit" class="btn" style="background-color: #00695C; color: white;">Kijelentkezés</button>
            </form>
        </div>
    </div>
</nav>

