@using DataAccess.Data;

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #004D40;">
    <div class="container">
        <a class="navbar-brand" href="/reserve">Parkoló App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/reserve">Foglalás</a>
                </li>
                <AuthorizeView Roles=@Role.ADMIN.ToString()>
                    <li class="nav-item">
                        <a class="nav-link" href="/Users">Felhasználók Kezelése</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/parking-places">Parkolók Kezelése</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stats">Statisztikák</a>
                    </li>
                </AuthorizeView>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profil</a>
                </li>
            </ul>
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="btn btn-danger">Kijelentkezés</button>
            </form>
           
        </div>
    </div>
</nav>
