@page "/manageUsers"
@attribute [Authorize(Roles = "ADMIN")]

<h3>ManageUsers</h3>
<p>test</p>

<AuthorizeView Roles="ADMIN">
    <p>You have an 'Admin' or 'Superuser' role claim.</p>
</AuthorizeView>
<AuthorizeView Roles="User">
    <p>You have an 'User' role claim.</p>
</AuthorizeView>

<AuthorizeView>
    <p>You have an nothing.</p>
</AuthorizeView>

@code {



}
